
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#navbar{
    padding: 20px;
}

#banner{
    object-fit: cover;;
}

h1{
    text-align: center;
    color:red;
    border: 3px solid black;
    border-style:double;
    border-block-end-width: 0cqi;
    
}

#banner{
    width: 100%;
}

