body {

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

a {
    text-decoration: none;
    color: blue;
}

#introduction{
    margin: 10px 20px 40px 30px ;
    padding: 50px;
}

.jobsimage {
    width: 100%;
    height: 300px;
    margin: 100px 0px 0px 200px;
    align-items: center;

}

#navbar {
    padding: 10px;
}

#logo {
    height: 30px;
}

#QualityAnalyst {
    object-fit: cover;
}

h2 {
    color: blue;
    text-align: center;
}

#Manual {
    display: flex;
}

#ManualTestingImage {
    width: 100%;
    padding: 10px 30px;
}

#ManualTesting {
    width: 100%;
    padding-top: 100px;
    margin: 20px 25px 50px 25px;
}

#Automation {
    display: flex;
}

#AutomationTesting {
    width: 100%;
    padding-top: 100px;
    margin-left: 20px;
    margin-right: 50px;
}

#AutomationTestingImage {
    width: auto;
    padding: 50px 0px 25px 10px;
    margin: 20px 50px 40px 50px;
}

#QualityAnalyst {
    width: 100%;

}

.location {
    color: greenyellow;
}

#footer {
    background-color: ghostwhite;
    padding: 10px;
    margin: 20px 0px 10px 40px 0px;
    text-align: center;
}

#footer-links {
    list-style: none;
    text-align: center;

}

#footer-links li {

    display: inline;
    margin: 0 10px;
}

#jobs-table{
    width: 100%;
    border: 1px solid grey;
    margin: 20px 0;
    border-collapse: collapse;
}

.table-header th{
    border: 1px solid grey;
    padding: 10px;
    background-color:aliceblue
    
}

.jobs-data-row td{
    border: 1px solid grey;
    
}

#jobs-table tr:nth-child(odd){
    background-color:aliceblue;
}

.copyright {
    color: gray;
    font-size: 12px;
    margin-top: 10px;

}

.jobs-data-row {
    table {
        max-width: 800px;
        border-collapse: collapse;
        margin: 0 auto;
    }
    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
    }
    
}